.main-container{
    font-family: var(--letra-navlinks);
    font-size: 1.5em;
	margin: 10px auto;
	width: 100%;
    height: 100%;
}

.div-fecha{
    display: flex;
    background-color: var(--color-azul);
    width: 100%;
    height: 5em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.table-cls{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

.btn-active{
    display: table;
    grid-template-columns: 5, auto;
}

th, td{
	padding: 1em;
    text-align: center;
}

thead{
    background-color: var(--color-azul);
	color: white;
    border-bottom: 1px solid var(--color-gris-fuerte);
    position: sticky;
    top: 76px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: var(--color-azul);
	color: white;
}

.marginx10{
    margin-top: 10px;
    margin-bottom: 10px;
}